<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/fish_catalog.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <header>
      <h1>{ Sección de Pescados }</h1>
      <p>Tu mercado de confianza local para pedidos en carnes.</p>
    </header>

    <nav>
      <a href="/">Inicio</a>
      <a href="/login">Logearme</a>
      <a href="/register">Registrarme</a>
    </nav>

    <div class="wrapper">
      <main>
        <section class="container">
          <h2>{ ¡Ups...! }</h2>
          <p>Estamos trabajando...</p>
        </section>
      </main>
    </div>

    <footer>
      <p>Hey, soy un texto para decirte que esto tiene copyright. Si intentas lo que sea te demando.</p>
    </footer>

    <script>
      window.onload = function() {
        const [header, nav, div, footer] = [
          document.querySelector('header')             ,
          document.querySelector('nav')                ,
          document.getElementsByClassName('wrapper')[0],
          document.querySelector('footer')
        ];

        function ajustDivHeight() {
          const avaliableHeight = window.innerHeight
            - header.offsetHeight
            - nav.offsetHeight
            - footer.offsetHeight;
          
          div.style.height = `${avaliableHeight}px`;
        }

        ajustDivHeight();
        window.addEventListener('resize', ajustDivHeight);
      }
    </script>
  </body>
</html>
