<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/icon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/index.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <div class="wrapper">
      <header class="glass">
        <h1>{ Soy un texto de ejemplo }</h1>
        <p>Bienvenido a la página principal.</p>
      </header>

      <nav class="glass">
        <a href="/login">Logearme</a>
        <a href="/register">Registrarme</a>
      </nav>

      <main class="glass">
        <h2></h2>
        <p></p>
      </main>
    <div>

    <footer>
      <p>Hey, soy un texto para decirte que esto tiene copyright. Si intentas lo que sea te demando.</p>
    </footer>
  </body>
</html>
