<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/rememberme.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <header>
      <h1>{ VíveresGPS }</h1>
      <p>Tu mercado de confianza local para pedidos en carnes.</p>
    </header>

    <nav>
      <a href="/login">Logearme</a>
      <a href="/register">Registrarme</a>
    </nav>

    <div class="wrapper">
      <main>
        <section class="container">
          <h2>{ Sección de Pollos }</h2>
          <p>Ve nuestros cortes y productos relacionados al pollo, fresco y barato. ¡Es nuestra sección más búscada!</p>
          <a href="/chicken-catalog">Ver Catálogo</a>
        </section>

        <section class="container">
          <h2>{ Sección de Pescados }</h2>
          <p>Ve nuestros cortes de pescado más comunes del mercado, también frescos y baratos. ¡En cajas térmicas!</p>
          <a  href="/fish-catalog">Ver Catálogo</a>
        </section>
      </main>

      <aside>
        <section class="container">
          <h3>Sobre nosotros...</h3>
          <p>Como consumidores locales, nos hemos decidido en contactar a varias a empresas para cerciorarnos personalmente de su calidad y hacer negocio de ello a un precio ligeramente menor al de la competencia.</p>
          <p>Somos honestos, somos competitivos, somos VíveresGPS.</p>
        </section>
      </aside>
    </div>

    <footer>
      <p>Hey, soy un texto para decirte que esto tiene copyright. Si intentas lo que sea te demando.</p>
    </footer>

    <script src="/static/js/heightAdjuster.js"></script>
  </body>
</html>
